.Details{
    background-color: aqua;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 25px;
    width: 500px;
}
.sp{
    text-align: end;
    display: flex;
}

.first-contaier{
    display: flex;
    justify-content: space-between;
}
.nameicon{
    float: left;
}